<section>
	<div class="container">
		<header class="body-header">
			<h1>创新为您创造蓝海，我们将您的系统变为现实</h1>
			<h1>嵌入式系统设计专家，可生产性倡导者</h1>
		</header>
		<div class="row">
			<div class="col-sm-6">
				<div style="background-image:url(/images/develop/yanfa.png);background-repeat:no-repeat;">
					<h2>委托开发</h2>
					<ul>
						<li>嵌入式方案咨询</li>
						<li>PCB设计</li>
						<li>Linux,Android,WinCE移植</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div style="background-image:url(/images/develop/calendar.png);background-repeat:no-repeat;">
					<h2>周期</h2>
					<ul>
						<li>依托苏州市嵌入式系统重点实验室</li>	
						<li>拥有专业团队为您快速定制产品系统团队涉足嵌入式行业多年，实力雄厚</li>
						<li>项目经验积累丰富结合丰富的生产经验，帮助客户迅速量产</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div style="background-image:url(/images/develop/yanfa.png);background-repeat:no-repeat;">
					<h2>成本</h2>
					<ul>
						<li>洞彻从立项、研发、制造的所有环节</li>
						<li> 精审成本开支</li>
						<li>为客户提供缜密的成本控制</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div style="background-image:url(/images/develop/calendar.png);background-repeat:no-repeat;">
					<h2>成熟</h2>
					<ul>
						<li>久经考验的开发平台</li>
						<li>秉承磐石般稳重的特性</li>
						<li>最大限度的追求客户认可的可靠性平台</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
</section>
